<div>
    <div class="flexrows">
        <mat-card class="width250pt card">
            <mat-card-header>
                <mat-card-title>Functions</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <button mat-button class=" width200pt" (click)="importSpecification()">
                    Import Specification
                </button>
                <button mat-button class=" width200pt" (click)="fetchPublic()">
                    Update Public Specifications
                </button>

            </mat-card-content>
        </mat-card>
        <ng-container *ngFor="let spec of specifications ">
            <mat-card class="width350pt card" *ngClass="{waitCursor: contributing}">
                <mat-card-header>
                    <mat-card-title matTooltip="Contribute Specification" class=" width200pt"><mat-icon
                            [matTooltip]="getStatusText(spec.status)">{{getStatusIcon(spec.status)}}</mat-icon>{{getTranslatedSpecName(spec)
                        }}</mat-card-title>
                    <div class="card-header-buttons">
                        <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                            matTooltip="Delete" color="warn" [disabled]="[0,1].includes(spec.status)"
                            (click)="deleteSpecification(spec)">
                            <mat-icon matTooltip="Delete">delete</mat-icon>
                        </button>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <img class="marginsall" [src]="getImage(spec.filename)" />

                    <div
                        [matTooltip]="[0].includes(spec.status)?'is public':spec.messages.length? 'has messages':config.githubPersonalToken == undefined? 'configure github access token first':'Press to contribute to the public'">
                        <button mat-button class="width200pt"
                            [disabled]="[0].includes(spec.status) || spec.messages.length > 0 || config.githubPersonalToken == undefined"
                            (click)="contributeSpecification(spec)">
                            Contribute
                        </button>
                    </div>
                    <button mat-button class=" width200pt" (click)="exportSpecification(spec)">
                        Downbload as .zip File
                    </button>
                    <p>
                        <a *ngIf="spec.pullUrl != undefined" [href]="spec.pullUrl" target="_blank">View Pull Request on
                            Github</a>
                    </p>

                    <div *ngFor="let message of spec.messages">
                        <p class="message errorTextNoBlink">{{getValidationMessage(spec,message)}}</p>
                    </div>

                </mat-card-content>
            </mat-card>
        </ng-container>

    </div>
</div>