<div>
   <div class="icon-text">
      <mat-icon [class]="modbusErrors? modbusErrors.errors.length > 0  ? 'red':'green':'yellow'">circle</mat-icon>
      <span>Failed entities in last Modbus call: {{ modbusErrors? modbusErrors.errors.length: "unknown"}}</span>
   </div>
   <div class="indent"> 
      <dl *ngIf="modbusErrors" >
         <dl *ngFor="let err of getUniqueErrors()">
            <dt>{{err}} </dt>
         </dl>

      </dl>
   </div>

   <div class="icon-text">
         <mat-icon [class]="modbusErrors? modbusErrors.totalErrorCount > 0?'red':'green':'yellow'">circle</mat-icon>
         <span>Errors since startup {{ modbusErrors? modbusErrors.totalErrorCount: "unknown"}}</span>
   </div>
   <div class="icon-text">
         <mat-icon [class]="modbusErrors? modbusErrors.errorsSinceLastSuccessful > 0 ?'red':'green':'yellow'">circle</mat-icon>
         <span>Errors since last successful call {{ modbusErrors? modbusErrors.errorsSinceLastSuccessful: "unknown"}}</span>
   </div>
   <div class="icon-text" *ngIf="modbusErrors && modbusErrors.allEntitiesFailed">
      <mat-icon class="red">circle</mat-icon>
      <span>All entities failed</span>
   </div>
   <div class="icon-text">
      <mat-icon [class]="modbusErrors? modbusErrors.notIdentifiedEntities.length > 0  ? 'red':'green':'yellow'">circle</mat-icon>
      <span>not identified entities: {{ modbusErrors? modbusErrors.notIdentifiedEntities.length: "unknown"}}</span>
   </div>
</div>